# include all
*

# exclude python files in app folder
!UpdateNotifier/
!UpdateNotifier/*.py

# exclude repo files
!.gitignore
!README.md
!LICENSE
!requirements.txt
!.env.example
!pyproject.toml

# exclude docker files
!Dockerfile
!.dockerignore
!docker-compose.yaml.example
!entrypoint.sh

# exclude CI/CD files
!.github/
!.github/workflows/
!.github/workflows/*.yaml
